#container{
    background-color: gray;
    height: 800px;
    width: 500px;
    border-radius: 10%;
}
body{
display: flex;
justify-content: center;
align-items: center;
}

.screen{
    border: 2px solid white;
    height: 340px;
    width: 400px;
    background-color: white;
    margin: 40px;
}
.song{
    border: 1px solid grey;
    background-color: lightgrey;
    height: 50px;
    width: 400px;
}

.body{
    display: flex;
    justify-content: center;
}

.circle {
    border: 2px solid lightgrey;
    background-color: lightgray;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.top{
    display: flex;
    justify-content: center;
    margin-top: 5px;

}


.button{
color: white;
}