#container{
    background-color: silver;
    height: 800px;
    width: 500px;
    border-radius: 10%;
}

body{
display: flex;
justify-content: center;
align-items: center;
}

.screen{
    border: 2px solid white;
    height: 310px;
    width: 400px;
    background-color: white;
    margin: 40px;
}
.song{
    border: 1px solid grey;
    background-color: lightgrey;
    color: white;
    height: 50px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    border: 2px solid lightgrey;
    background-color: lightgray;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#buttons{
    position: relative;
    height: 100%;
    width: 100%;
}

.top{
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 60px;
}

.middle .left, 
.middle .right {
    flex: none; 
    color: white;
    font-size: 16px;
    width: 150px;
   margin: -4px;
}

.right {
display: flex;
justify-content: end;
}

.bottom {
    bottom: 2%; 
    left: 50%;
    transform: translateX(-50%);
}

.button{
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px; 
}


@media screen and (max-height: 1024px) and (max-width: 768px) {
    #container {
        border-radius: 0px;
        background-color: silver;
        height: 400px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
   }
   .screen {
        display: none;
   }
   .body{
       display: flex;
       justify-content: center;
   }

}